<input [(ngModel)]="title" placeholder="Rechercher une catégorie">

<p>La date est : {{ myDate | date:'yyyy-MM-dd' }}</p>

<div class="container">
  <div class="row">
    <div *ngFor="let category of categories | contains:title" class="col-md-4" style="margin-bottom: 20px;">
      <img (click)="getDescription(category.description)" [src]="category.image" [alt]="category.title" class="img-fluid h-50 w-75">
      <h3 appHighlight>{{ category.title | uppercase }}</h3>
      <button [hidden]="!category.available" class="btn btn-primary">Voir produits</button>
      <span *ngIf="!category.available">Catégorie non disponible!</span>
    </div>
  </div>
</div>
